{% extends "base.html" %}

{% block content %}
<nav class="navbar">
  <a href="" class="navbar-brand text-light"></a>       
</nav> 
<div class="split left">
  <div class="centered">
    <h2 class="text-light"  >Covid-19</h2>  
    <h2 class="text-light"  >Self-Assessment</h2>  
    <h2 class="text-light"  >&</h2>  
    <h1  style="color:rgb(148, 226, 148);"  >Book Vaccination</h1>  
   <img src="/static/images/maple.png">
  </div>
</div>
  <div class="split right">
    {% include "register.html" %}
  </div>


{% endblock %}
