{% extends "base.html" %}

{% block content %}  
<form action="/question5" method="POST">
    <div class="container mt-5">
   

        <div class="row">
          <div class="col-md-6">
            <!-- Card Regular -->
            <div class="card card-cascade">
    
              <!-- Card content -->
              <div class="card-body card-body-cascade ">
    
                <!-- Title -->
                <h4 class="card-title"><strong>Question 4/7</strong></h4>
                <hr>
                <!-- Subtitle -->
                
                <p class="font-weight-normal">Please provide a response</p>
                <!-- Text -->
                <p> Are you in any of these at-risk groups</p>
              
              <hr>
              
              a)Getting treatment that compromises (weakens) your immune system<br>
              (for example, chemotherapy, medication for transplants, corticosteroids, TNF inhibitors)<br><br>
              b)Having a condition that compromises (weakens) your immune system<br>
              (for example, lupus, rheumatoid arthritis, immunodeficiency disorder)<br><br>
              c)Having a chronic (long-lasting) health condition<br>
              (for example, diabetes, emphysema, asthma, heart condition, COPD)<br>
              Regularly going to a hospital or health care setting for a treatment<br>
              (for example, dialysis, surgery, cancer treatment)<br>
             
        </div>
              <hr>
    
        <div class="mx-auto" style="width: 200px;">
        <input value="NO" type="submit" class="btn btn-primary waves-effect waves-light ml-3 mb-3 ">
        <input value="YES" type="submit" name="emerge" class="btn btn-outline-primary waves-effect float-right mr-3 mb-3">
      </div>
             
            </div>
          </div>
        </div>
    </form>
    
      
      </div>
    </div>
    
    {% endblock %}